* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    border: 1px solid purple;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar ul {
    padding: 1em;
}

#welcome-section {
    border: 1px purple solid;
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    text-align: center;
    border: 1px solid purple;
}

.project-tile {
    display: flex;
    justify-content: space-evenly;
}

.project {
    height: 200px;
    min-width: 30%;
}

footer {
    text-align: center;
    border: 1px solid purple;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
}