@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

:root {
  --secondary-color: #f25f4c;
}

html {
  font-family: "Chakra Petch", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-color);
}

#navbar ul {
  padding: 1em;
  display: flex;
  width: 25vw;
  justify-content: space-between;
  font-size: 1.2em;
  color: #fffffe;
}

#welcome-section {
  background-color: #0f0e17;
  color: #fffffe;
  font-size: 2em;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7vh;
}

#welcome-section p {
  font-style: italic;
  color: var(--secondary-color);
}

#main-ilustration {
  max-width: 40%;
}

#projects {
  text-align: center;
  margin-top: 5em;
}

h3 {
  margin-bottom: 2em;
}

.project-tile {
  display: flex;
  justify-content: space-evenly;
}

.project {
  width: 30%;
  margin-bottom: 3em;
}

.project-title {
  padding: 1em;
  background-color: var(--secondary-color);
  color: #fffffe;
}

.project-image {
  width: 100%;
  height: auto;
}

#contact {
  text-align: center;
  padding: 2em;
  background-color: #0f0e17;
  color: #fffffe;
}

#social-media {
  display: flex;
  justify-content: space-evenly;
}
